.topaux{
    height: 30px;
    background: blue;
}
.headContainer{
    height: 120px;
    display: flex;
    background: yellow;
}
.gridaux{
    width: 15%;
}
.subContainer{
    width: 70%;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items:  center;
    background: brown;
}

.menuItem{
    padding-left: 60px;
    padding-right: 60px;
    color: rgb(233, 233, 233);
    font-size: 20px;
    padding-top: 48px;
    padding-bottom: 48px;
    text-decoration: none;
    background: green;
}

.menuItem:hover{
    background: rgb(17, 87, 17);
}


.bigHome{
    position: relative;
    left: 10px;
    padding: 50px;
    width: 100px;
    height: 70px;
    background: red;
}

.bigHome:hover{
    background: rgb(99, 14, 14);
}
