@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


.head{
    display: flex;
    justify-content: center;
    background: black;
}

.headContainer{
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: rgb(20, 20, 20);
}
.gridaux{
    width: 10%;
    display: flex;
    justify-content: center;
    background: rgb(20, 20, 20);
}

.gridsocial{
    width: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(20, 20, 20);
}

.fabiconaux{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color: gold;
}
.fabiconauxfacebook{
    composes: fabiconaux;
}
.fabiconauxfacebook i:hover{
    color: rgb(22, 81, 209);
    cursor: pointer;
    box-shadow:  0px 5px 9px 0px rgba(255, 215, 0, 0.5);
}

.fabiconauxtwitter{
    composes: fabiconaux;
}
.fabiconauxtwitter i:hover{
    color: rgb(0, 172, 237);
    cursor: pointer;
    box-shadow:  0px 5px 9px 0px rgba(255, 215, 0, 0.5);
}

.fabiconauxgithub{
    composes: fabiconaux;
}
.fabiconauxgithub i:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow:  0px 5px 9px 0px rgba(255, 215, 0, 0.5);
}



.subContainer{
    width: 60%;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items:  center;
    margin-left: 10px;
    margin-right: 10px;
    background: rgb(20, 20, 20);
}

.menuItem{
    font-family: 'Press Start 2P';
    width: 100px;
    color: rgb(220, 220, 220);
    font-size: 18px;
    padding: 35px;
    height: 48px;
    text-decoration: none;
    background: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid gold;
}

.menuItem:hover{
    background: rgb(30, 30, 30);
    box-shadow:  0px 3px 7px 0px gold;
}



.bigHome{
    composes: menuItem;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 100px;
    border-right: none;
    color:black;
    background: linear-gradient(gold,rgb(216, 143, 33));
    text-shadow: 3px 3px 5px black;
    z-index: 10;
}

.bigHome:hover{
    background: linear-gradient(gold,rgb(216, 143, 33));
    box-shadow: 1px 0px 17px 0px gold;
    color: white;
    text-shadow: 1px 0px 17px 0px white;
}
