@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');


.superContainer{
    width: 900px;
    background: rgb(20, 20, 20);
    box-shadow: 8px 9px 15px 0px rgba(0,0,0,0.75);
}

.superContainerRank{
    width: 500px;
    background: rgb(20, 20, 20);
    box-shadow: 8px 9px 15px 0px rgba(0,0,0,0.75);
}

.newTitle{
    margin-left: 35px;
    margin-top: 30px; 
    font-family:'Ubuntu Mono';
    font-size:22px;
    color: gold;
}

.newDesc{
    margin-left: 15px;
    text-align: justify;
    font-size: 14px;
    font-family:'Ubuntu Mono';
    color:rgb(200, 200, 200);
    margin: 10px;
}

.imagen{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}