.divaux{
    height: 20px;
    background: rgb(0, 255, 234);
}

.bodyContainer{
    display: flex;
    justify-content: center;
}

.bodyContent{
    width: 80%;
    background: rgb(185, 185, 185);
}

.navContent{
    height: 800px;
    width: 20%;
    background: rgb(195, 0, 255);   
    opacity: 0.4; 
}

.foot{
    height: 100px;
    background: rgb(34, 34, 34);
    color: white;
}